<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delifast</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-800">
    <%- include('partials/header') %>
    <main class="container mx-auto py-8">
        <div class="flex flex-wrap gap-4 justify-center">
            <% data.forEach(item => { %>
                <div class="bg-white shadow-md rounded-lg overflow-hidden w-64">
                    <img src="<%= item.image %>" alt="<%= item.title %>" class="w-full h-40 object-cover" onerror="this.onerror=null; this.src='default.jpg';">
                    <div class="p-4 flex justify-between items-start gap-2">
                        <h2 class="text-xl font-semibold mb-2">
                            <a href="/recipes/<%= item.id %>" class="hover:text-blue-500"><%= item.title %></a>
                        </h2>
                        <% if (locals.user) { %>
                            <%- include('partials/like', {recipe: item}) %>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>
        <div id="pages" class="mt-8 flex justify-center">
            <select id="pageSelect" class="p-2 border border-gray-300 rounded text-black">
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <option value="<%= i %>">Page <%= i %></option>
                <% } %>
            </select>
            <nav class="ml-4 flex items-center space-x-2">
                <% if (currentPage > 2) { %>
                    <a href="/page/1" class="p-2 border rounded">1</a>
                    <% if (currentPage > 3) { %>
                        <span class="p-2">...</span>
                    <% } %>
                <% } %>
                <% if (currentPage > 1) { %>
                    <a href="/page/<%= currentPage-1 %>" class="p-2 border rounded"><%= currentPage-1 %></a>
                <% } %>
                <a href="/page/<%= currentPage %>" class="p-2 border rounded bg-blue-500 text-white"><%= currentPage %></a>
                <% if (currentPage < totalPages) { %>
                    <a href="/page/<%= currentPage+1 %>" class="p-2 border rounded"><%= currentPage+1 %></a>
                    <% if (currentPage < totalPages - 1) { %>
                        <% if (currentPage < totalPages - 2) { %>
                            <span class="p-2">...</span>
                        <% } %>
                        <a href="/page/<%= totalPages %>" class="p-2 border rounded"><%= totalPages %></a>
                    <% } %>
                <% } %>
            </nav>
        </div>
    </main>
    <%- include('partials/footer') %>
    <script>
        const favoritesId = JSON.parse("<%- JSON.stringify(favoritesId) %>");
        console.log(favoritesId);
        document.querySelectorAll('.hover-heart').forEach(heartElement => {
            const id = Number(heartElement.id.replace('recipe-', ''));
            const farIcon = heartElement.querySelector('.far');
            const fasIcon = heartElement.querySelector('.fas');
    
            if (favoritesId.includes(id)) {
                console.log('recipe is in favorites');
                farIcon.style.display = 'none';
                fasIcon.style.display = 'inline';
            } else {
                farIcon.style.display = 'inline';
                fasIcon.style.display = 'none';
            }
        });
    </script>
    <script>
        document.getElementById('pageSelect').addEventListener('change', function() {
            window.location.href = '/page/' + this.value;
        });
    </script>
    <script>
        document.querySelectorAll('.hover-heart').forEach(button => {
            console.log('button clicked');
        
            // Define your event handler as a named function
            const eventHandler = function(event) {
                event.preventDefault();
                event.stopPropagation(); 
                console.log('button clicked2');
                const recipeId = this.dataset.recipeId;
                console.log(recipeId);
                const farIcon = this.querySelector('.far');
                const fasIcon = this.querySelector('.fas');
        
                console.log(farIcon, fasIcon)

                fetch('/favorites', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ recipeId }),
                })
                .then(response => response.json())
                .then(response => {
                    console.log(response.existingFavorite);
                    console.log(response);
                    if (response.data.success) {
                        console.log('success');
                        farIcon.style.display = 'none';
                        fasIcon.style.display = 'inline';
                    } else {
                        farIcon.style.display = 'inline';
                        fasIcon.style.display = 'none';
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            }
        
            // Remove the event listener before adding it
            button.removeEventListener('click', eventHandler);
            button.addEventListener('click', eventHandler);
        });
    </script>
</body>
</html>